EOC/recibe.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<definitions name="recibeProvision" targetNamespace="recibeProvision"
	xmlns:tns="recibeProvision"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:recibeProvision="recibeProvision">

	<types>
		<schema targetNamespace="recibeProvision"			
	xmlns="http://www.w3.org/2001/XMLSchema"			
	xmlns:recibeProvision="recibeProvision"			
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">



			<annotation>
				<documentation>Recibe Provision</documentation>
				<appinfo>
					<metadata>EOC</metadata>
					<created>Mon Feb 27 12:00:01 CLT 2017</created>
				</appinfo>
			</annotation>

			<!-- Data types and elements -->

			<simpleType name="status">
				<annotation>
					<documentation>Estado provision</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength value="1"/>
				</restriction>
			</simpleType>

			<simpleType name="productOffering">
				<annotation>
					<documentation>Product Offering</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength value="32"/>
				</restriction>
			</simpleType>

			<simpleType name="orderId">
				<annotation>
					<documentation>order Id</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength value="16"/>
				</restriction>
			</simpleType>

			<simpleType name="msisdn">
				<annotation>
					<documentation>Msisdn</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength value="11"/>
				</restriction>
			</simpleType>

			<simpleType name="debit">
				<annotation>
					<documentation>Debito inicial</documentation>
				</annotation>
				<restriction base="xsd:integer">
					<totalDigits value="5"/>
					<minInclusive value="1"/>
					<maxInclusive value="50000"/>
				</restriction>
			</simpleType>

			<!-- Structures -->

			<complexType name="ack">
				<annotation>
					<documentation>ack</documentation>
				</annotation>
					<sequence>
						<element name="codigo" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>

			<complexType name="respuesta">
				<annotation>
					<documentation>respuesta</documentation>
				</annotation>
					<sequence>
						<element name="productOfferId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="orderId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="msisdn" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="debit" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="status" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>

			<!-- Documents -->

			<complexType name="buscaOrden">
				<annotation>
					<documentation>Busca Orden</documentation>
				</annotation>
					<sequence>
						<element name="orderId" type="recibeProvision:orderId"/>
						<element name="productOffering" type="recibeProvision:productOffering"/>
						<element name="msisdn" type="recibeProvision:msisdn"/>
						<element name="debit" type="recibeProvision:debit"/>
						<element name="status" type="recibeProvision:status"/>
					</sequence>
				</complexType>

			<complexType name="recibeOrden">
				<annotation>
					<documentation>Recibe Orden</documentation>
				</annotation>
					<sequence>
						<element name="orderId" type="recibeProvision:orderId"/>
					</sequence>
				</complexType>

		</schema>
	</types>

	<message name="respuesta">
		<part name="respuesta" type="recibeProvision:respuesta"/>
	</message>

	<message name="ack">
		<part name="ack" type="recibeProvision:ack"/>
	</message>

	<portType name="interfazEOC">
		<operation name="updateProvisioning">
			<input message="tns:respuesta"/>
			<output message="tns:ack"/>
		</operation>
	</portType>

	<binding name="bindingSOAP" type="tns:interfazEOC">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="updateProvisioning">
			<soap:operation soapAction="updateProvisioning"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>

	<service name="servicioExternoPort">
		<port name="portSOAP" binding="tns:bindingSOAP">
		</port>
	</service>

</definitions>