OM/OM.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<definitions name="OM_LISTENER" targetNamespace="OM_LISTENER"
	xmlns:tns="OM_LISTENER"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:OM_LISTENER="OM_LISTENER">

	<types>
		<schema targetNamespace="OM_LISTENER"			
	xmlns="http://www.w3.org/2001/XMLSchema"			
	xmlns:OM_LISTENER="OM_LISTENER"			
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">



			<annotation>
				<documentation>OM_LISTENER</documentation>
				<appinfo>
					<metadata>OM</metadata>
					<created>Mon Feb 27 11:09:44 CLT 2017</created>
				</appinfo>
			</annotation>

			<!-- Data types and elements -->

			<!-- Structures -->

			<complexType name="response">
				<annotation>
					<documentation>response</documentation>
				</annotation>
					<sequence>
						<element name="productOfferId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="orderId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="msisdn" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="debit" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="status" minOccurs="0" maxOccurs="1" type="xsd:integer"/>
					</sequence>
				</complexType>

			<complexType name="request">
				<annotation>
					<documentation>request</documentation>
				</annotation>
					<sequence>
						<element name="productOfferId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="orderId" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>

			<!-- Documents -->

		</schema>
	</types>

	<message name="request">
		<part name="request" type="OM_LISTENER:request"/>
	</message>

	<message name="response">
		<part name="response" type="OM_LISTENER:response"/>
	</message>

	<portType name="OMInterfaz">
		<operation name="provisioning">
			<input message="tns:request"/>
			<output message="tns:response"/>
		</operation>
	</portType>

	<binding name="bindingSOAP" type="tns:OMInterfaz">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="provisioning">
			<soap:operation soapAction="provisioning"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>

	<service name="OM_LISTENER">
		<port name="portSOAP" binding="tns:bindingSOAP">
		</port>
	</service>

</definitions>