Proyecto_Grupo3/CS/CS.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<definitions name="chargingSystem" targetNamespace="chargingSystem"
	xmlns:tns="chargingSystem"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:chargingSystem="chargingSystem">

	<types>
		<schema targetNamespace="chargingSystem"			
	xmlns="http://www.w3.org/2001/XMLSchema"			
	xmlns:chargingSystem="chargingSystem"			
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">



			<annotation>
				<documentation>Charging System</documentation>
				<appinfo>
					<metadata>CS</metadata>
					<created>Mon Feb 27 16:15:43 CLT 2017</created>
				</appinfo>
			</annotation>

			<!-- Data types and elements -->

			<simpleType name="monto">
				<annotation>
					<documentation>Monto</documentation>
				</annotation>
				<restriction base="xsd:integer">
				</restriction>
			</simpleType>

			<simpleType name="idCliente">
				<annotation>
					<documentation>ID Cliente</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength value="16"/>
				</restriction>
			</simpleType>

			<simpleType name="planCS">
				<annotation>
					<documentation>Plan CS</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength value="32"/>
				</restriction>
			</simpleType>

			<simpleType name="MSISDN">
				<annotation>
					<documentation>MSISDN</documentation>
				</annotation>
				<restriction base="xsd:integer">
					<totalDigits value="15"/>
				</restriction>
			</simpleType>

			<simpleType name="IMSI">
				<annotation>
					<documentation>IMSI</documentation>
				</annotation>
				<restriction base="xsd:integer">
					<totalDigits value="15"/>
				</restriction>
			</simpleType>

			<!-- Structures -->

			<complexType name="response">
				<annotation>
					<documentation>response</documentation>
				</annotation>
					<sequence>
						<element name="mensaje" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="estado" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>

			<!-- Documents -->

			<complexType name="clienteChagingSystem">
				<annotation>
					<documentation>Cliente Charging System</documentation>
				</annotation>
					<sequence>
						<element name="idCliente" type="chargingSystem:idCliente"/>
						<element name="IMSI" type="chargingSystem:IMSI"/>
						<element name="MSISDN" type="chargingSystem:MSISDN"/>
						<element name="monto" type="chargingSystem:monto"/>
						<element name="planCS" type="chargingSystem:planCS"/>
					</sequence>
				</complexType>

		</schema>
	</types>

	<message name="clienteChagingSystem">
		<part name="clienteChagingSystem" type="chargingSystem:clienteChagingSystem"/>
	</message>

	<message name="response">
		<part name="response" type="chargingSystem:response"/>
	</message>

	<portType name="Crea_CLI_CS">
		<operation name="creacionClienteCS">
			<input message="tns:clienteChagingSystem"/>
			<output message="tns:response"/>
		</operation>
	</portType>

	<binding name="bindingSOAPRequestCS" type="tns:Crea_CLI_CS">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="creacionClienteCS">
			<soap:operation soapAction="creacionClienteCS"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>

	<service name="requestCS">
		<port name="chargingSOAPPort" binding="tns:bindingSOAPRequestCS">
		</port>
	</service>

</definitions>