Proyecto_Grupo3/Procesos/BSCS/resources/schema/cw.gen.registroDeConsumo.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<definitions name="bscsProy" targetNamespace="bscsProy"
	xmlns:tns="bscsProy"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:bscsProy="bscsProy">

	<types>
		<schema targetNamespace="bscsProy"			
	xmlns="http://www.w3.org/2001/XMLSchema"			
	xmlns:bscsProy="bscsProy"			
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">



			<annotation>
				<documentation>bscsProy</documentation>
				<appinfo>
					<metadata>BSCS_train</metadata>
					<created>Mon Feb 27 16:17:09 CLT 2017</created>
				</appinfo>
			</annotation>

			<!-- Data types and elements -->

			<simpleType name="usage">
				<annotation>
					<documentation>Usage</documentation>
				</annotation>
				<restriction base="xsd:integer">
					<totalDigits value="10"/>
				</restriction>
			</simpleType>

			<simpleType name="consumo">
				<annotation>
					<documentation>Consumo</documentation>
				</annotation>
				<restriction base="xsd:integer">
					<totalDigits value="10"/>
				</restriction>
			</simpleType>

			<simpleType name="saldo">
				<annotation>
					<documentation>Saldo</documentation>
				</annotation>
				<restriction base="xsd:integer">
					<totalDigits value="10"/>
				</restriction>
			</simpleType>

			<simpleType name="MSISDN">
				<annotation>
					<documentation>MSISDN</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength value="15"/>
				</restriction>
			</simpleType>

			<!-- Structures -->

			<complexType name="consumoCliente">
				<annotation>
					<documentation>consumoCliente</documentation>
				</annotation>
					<sequence>
						<element name="MSISDN" minOccurs="0" maxOccurs="1" type="bscsProy:MSISDN"/>
						<element name="saldo" minOccurs="0" maxOccurs="1" type="bscsProy:saldo"/>
						<element name="usage" minOccurs="0" maxOccurs="1" type="bscsProy:usage"/>
						<element name="consumo" minOccurs="0" maxOccurs="1" type="bscsProy:consumo"/>
					</sequence>
				</complexType>

			<!-- Documents -->

		</schema>
	</types>

	<message name="consumoCliente">
		<part name="consumoCliente" type="bscsProy:consumoCliente"/>
	</message>

	<portType name="registroDeConsumo">
		<operation name="registroDesdeCS">
			<input message="tns:consumoCliente"/>
		</operation>
	</portType>

	<binding name="BindingRegistroDesdeCSSOAP" type="tns:registroDeConsumo">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="registroDesdeCS">
			<soap:operation soapAction="registroDesdeCS"/>
			<input>
				<soap:body use="literal"/>
			</input>
		</operation>
	</binding>

	<service name="ExtService_Crea_Cli_BSCS">
		<port name="PortRegistroDesdeCSSOAP" binding="tns:BindingRegistroDesdeCSSOAP">
		</port>
	</service>

</definitions>