Proyecto_Grupo3/CS/resources/schema/cw.gen.Crea_CLI_CS.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<definitions name="chargingSystem" targetNamespace="chargingSystem"
	xmlns:tns="chargingSystem"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:cwf="http://www.conceptwave.com/system"
	xmlns:cwf_system="http://www.conceptwave.com/com/conceptwave/system"
	xmlns:chargingSystem="chargingSystem">

	<types>
		<schema targetNamespace="http://www.conceptwave.com/system"			
	xmlns="http://www.w3.org/2001/XMLSchema"			
	xmlns:cwf="http://www.conceptwave.com/system"			
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">



			<annotation>
				<documentation>ConceptWave system namespace</documentation>
				<appinfo>
					<label>ConceptWave System</label>
					<metadata>CS</metadata>
					<created>Tue Feb 28 21:40:03 CLT 2017</created>
				</appinfo>
			</annotation>

			<!-- Data types and elements -->

			<simpleType name="processId">
				<annotation>
					<documentation>Process ID</documentation>
				</annotation>
				<restriction base="xsd:decimal">
					<totalDigits value="16"/>
				</restriction>
			</simpleType>

			<!-- Structures -->

			<!-- Documents -->

		</schema>
		<schema targetNamespace="http://www.conceptwave.com/com/conceptwave/system"			
	xmlns="http://www.w3.org/2001/XMLSchema"			
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">



			<annotation>
				<documentation>system</documentation>
				<appinfo>
					<metadata>CS</metadata>
					<created>Tue Feb 28 21:40:03 CLT 2017</created>
				</appinfo>
			</annotation>

			<!-- Structures -->

			<complexType name="DataStructure"/>

			<!-- Documents -->

			<complexType name="Document"/>

		</schema>
		<schema targetNamespace="chargingSystem"			
	xmlns="http://www.w3.org/2001/XMLSchema"			
	xmlns:chargingSystem="chargingSystem"			
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"			
	xmlns:cwf="http://www.conceptwave.com/system">



			<annotation>
				<documentation>Charging System</documentation>
				<appinfo>
					<metadata>CS</metadata>
					<created>Tue Feb 28 21:40:03 CLT 2017</created>
				</appinfo>
			</annotation>

			<!-- Data types and elements -->

			<simpleType name="estado">
				<annotation>
					<documentation>Estado</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength value="32"/>
				</restriction>
			</simpleType>

			<simpleType name="idCliente">
				<annotation>
					<documentation>ID Cliente</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength value="32"/>
				</restriction>
			</simpleType>

			<simpleType name="saldo">
				<annotation>
					<documentation>Saldo</documentation>
				</annotation>
				<restriction base="xsd:integer">
					<totalDigits value="10"/>
				</restriction>
			</simpleType>

			<simpleType name="MSISDN">
				<annotation>
					<documentation>MSISDN</documentation>
				</annotation>
				<restriction base="cwf:processId">
					<totalDigits value="15"/>
				</restriction>
			</simpleType>

			<simpleType name="mensaje">
				<annotation>
					<documentation>Mensaje</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength value="32"/>
				</restriction>
			</simpleType>

			<simpleType name="IMSI">
				<annotation>
					<documentation>IMSI</documentation>
				</annotation>
				<restriction base="xsd:integer">
					<totalDigits value="16"/>
				</restriction>
			</simpleType>

			<!-- Structures -->

			<complexType name="responseCS">
				<annotation>
					<documentation>responseCS</documentation>
				</annotation>
					<sequence>
						<element name="mensaje" minOccurs="0" maxOccurs="1" type="chargingSystem:mensaje"/>
						<element name="estado" minOccurs="0" maxOccurs="1" type="chargingSystem:estado"/>
					</sequence>
				</complexType>

			<!-- Documents -->

			<complexType name="clienteChargingSystem">
				<annotation>
					<documentation>Cliente Charging System</documentation>
				</annotation>
					<sequence>
						<element name="MSISDN" type="chargingSystem:MSISDN"/>
						<element name="IMSI" type="chargingSystem:IMSI"/>
						<element name="idCliente" type="chargingSystem:idCliente"/>
						<element name="planCS" type="chargingSystem:idCliente"/>
						<element name="saldo" type="chargingSystem:saldo"/>
					</sequence>
				</complexType>

		</schema>
	</types>

	<message name="clienteChargingSystem">
		<part name="clienteChargingSystem" type="chargingSystem:clienteChargingSystem"/>
	</message>

	<message name="responseCS">
		<part name="responseCS" type="chargingSystem:responseCS"/>
	</message>

	<portType name="Crea_CLI_CS">
		<operation name="creacionClienteCS">
			<input message="tns:clienteChargingSystem"/>
			<output message="tns:responseCS"/>
		</operation>
	</portType>

	<binding name="bindingSOAPCS" type="tns:Crea_CLI_CS">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="creacionClienteCS">
			<soap:operation soapAction="creacionClienteCS"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>

	<service name="serviceCS">
		<port name="chargingSystemSOAPPort" binding="tns:bindingSOAPCS">
		</port>
	</service>

</definitions>