WSDLs/externalSystemCS.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<definitions name="externalSystemCS" targetNamespace="http://www.readinessit.com/namespaces/proyectoCS/externalSystemCS"
	xmlns:tns="http://www.readinessit.com/namespaces/proyectoCS/externalSystemCS"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:externalSystemCS="http://www.readinessit.com/namespaces/proyectoCS/externalSystemCS">

	<types>
		<schema targetNamespace="http://www.readinessit.com/namespaces/proyectoCS/externalSystemCS"			
	xmlns="http://www.w3.org/2001/XMLSchema"			
	xmlns:externalSystemCS="http://www.readinessit.com/namespaces/proyectoCS/externalSystemCS"			
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">



			<annotation>
				<documentation>External System CS</documentation>
				<appinfo>
					<metadata>AVM Metadata CS</metadata>
					<created>Wed Feb 22 13:53:02 CLT 2017</created>
				</appinfo>
			</annotation>

			<!-- Data types and elements -->

			<simpleType name="DT_SERV_CS_DESC_CAMPO">
				<annotation>
					<documentation>DT_SERV_CS_DESC_CAMPO</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength value="15"/>
				</restriction>
			</simpleType>

			<simpleType name="DT_SERV_CS_DESC_PLAN">
				<annotation>
					<documentation>DT_SERV_CS_DESC_PLAN</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength value="30"/>
				</restriction>
			</simpleType>

			<simpleType name="DT_SERV_CS_SALDO_INICIAL">
				<annotation>
					<documentation>DT_SERV_CS_SALDO_INICIAL</documentation>
				</annotation>
				<restriction base="xsd:decimal">
					<totalDigits value="10"/>
				</restriction>
			</simpleType>

			<simpleType name="DT_SERV_CS_ID_PLAN_N">
				<annotation>
					<documentation>DT_SERV_CS_ID_PLAN_N</documentation>
				</annotation>
				<restriction base="xsd:decimal">
					<totalDigits value="10"/>
				</restriction>
			</simpleType>

			<simpleType name="DT_SERV_CS_ID_PLAN_C">
				<annotation>
					<documentation>DT_SERV_CS_ID_PLAN_C</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength value="10"/>
				</restriction>
			</simpleType>

			<simpleType name="DT_SERV_CS_SALDO_ACTUAL">
				<annotation>
					<documentation>DT_SERV_CS_SALDO_ACTUAL</documentation>
				</annotation>
				<restriction base="xsd:decimal">
					<totalDigits value="10"/>
				</restriction>
			</simpleType>

			<simpleType name="DT_SERV_CS_MSISDN">
				<annotation>
					<documentation>DT_SERV_CS_MSISDN</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength value="15"/>
				</restriction>
			</simpleType>

			<simpleType name="DT_SERV_CS_FECHA_ACTUALIZACION">
				<annotation>
					<documentation>DT_SERV_CS_FECHA_ACTUALIZACION</documentation>
				</annotation>
				<restriction base="xsd:dateTime">
				</restriction>
			</simpleType>

			<simpleType name="DT_SERV_CS_FECHA_ULTIMO_SALDO">
				<annotation>
					<documentation>DT_SERV_CS_FECHA_ULTIMO_SALDO</documentation>
				</annotation>
				<restriction base="xsd:dateTime">
				</restriction>
			</simpleType>

			<simpleType name="DT_SERV_CS_ORDER_ID">
				<annotation>
					<documentation>DT_SERV_CS_ORDER_ID</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength value="16"/>
				</restriction>
			</simpleType>

			<simpleType name="ID_CAMPO">
				<annotation>
					<documentation>ID_CAMPO</documentation>
				</annotation>
				<restriction base="xsd:decimal">
					<totalDigits value="5"/>
				</restriction>
			</simpleType>

			<simpleType name="DT_SERV_CS_ID_SERVICIO_C">
				<annotation>
					<documentation>DT_SERV_CS_ID_SERVICIO_C</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength value="10"/>
				</restriction>
			</simpleType>

			<simpleType name="DT_SERV_CS_ID_SERVICIO_ESTADO">
				<annotation>
					<documentation>DT_SERV_CS_ID_SERVICIO_ESTADO</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength value="1"/>
				</restriction>
			</simpleType>

			<simpleType name="DT_SERV_CS_ID_SERVICIO_N">
				<annotation>
					<documentation>DT_SERV_CS_ID_SERVICIO_N</documentation>
				</annotation>
				<restriction base="xsd:decimal">
					<totalDigits value="10"/>
				</restriction>
			</simpleType>

			<simpleType name="DT_SERV_CS_FECHA_ACTIVACION">
				<annotation>
					<documentation>DT_SERV_CS_FECHA_ACTIVACION</documentation>
				</annotation>
				<restriction base="xsd:dateTime">
				</restriction>
			</simpleType>

			<!-- Structures -->

			<complexType name="input_desprovServicioCS">
				<annotation>
					<documentation>input_desprovServicioCS</documentation>
				</annotation>
					<sequence>
						<element name="msisdn" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="orderid" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>

			<complexType name="input_provServicioCS">
				<annotation>
					<documentation>input_provServicioCS</documentation>
				</annotation>
					<sequence>
						<element name="orderid" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="msisdn" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="id_plan_cs" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>

			<complexType name="output_desprovServicioCS">
				<annotation>
					<documentation>output_desprovServicioCS</documentation>
				</annotation>
					<sequence>
						<element name="estado" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="mensaje" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>

			<complexType name="output_provServicioCS">
				<annotation>
					<documentation>output_provServicioCS</documentation>
				</annotation>
					<sequence>
						<element name="estado" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="mensaje" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>

			<!-- Documents -->

			<complexType name="DOC_SERVICIO_SERVICIO_GET">
				<annotation>
					<documentation>DOC_SERVICIO_SERVICIO_GET</documentation>
				</annotation>
					<sequence>
						<element name="DT_SERV_CS_ID_SERVICIO_N" type="externalSystemCS:DT_SERV_CS_ID_SERVICIO_N"/>
						<element name="DT_SERV_CS_ID_SERVICIO_C" type="externalSystemCS:DT_SERV_CS_ID_SERVICIO_C"/>
						<element name="DT_SERV_CS_MSISDN" type="externalSystemCS:DT_SERV_CS_MSISDN"/>
						<element name="DT_SERV_CS_ID_PLAN_C" type="externalSystemCS:DT_SERV_CS_ID_PLAN_C"/>
						<element name="DT_SERV_CS_ORDER_ID" type="externalSystemCS:DT_SERV_CS_ORDER_ID"/>
						<element name="DT_SERV_CS_ID_SERVICIO_ESTADO" type="externalSystemCS:DT_SERV_CS_ID_SERVICIO_ESTADO"/>
						<element name="DT_SERV_CS_FECHA_ACTIVACION" type="externalSystemCS:DT_SERV_CS_FECHA_ACTIVACION"/>
						<element name="DT_SERV_CS_FECHA_ACTUALIZACION" type="externalSystemCS:DT_SERV_CS_FECHA_ACTUALIZACION"/>
					</sequence>
				</complexType>

			<complexType name="DOC_SERV_CS_SERVICIOS_VIGENTES">
				<annotation>
					<documentation>DOC_SERV_CS_SERVICIOS_VIGENTES</documentation>
				</annotation>
					<sequence>
						<element name="DT_SERV_CS_ID_SERVICIO_N" type="externalSystemCS:DT_SERV_CS_ID_SERVICIO_N"/>
						<element name="DT_SERV_CS_ID_SERVICIO_C" type="externalSystemCS:DT_SERV_CS_ID_SERVICIO_C"/>
						<element name="DT_SERV_CS_MSISDN" type="externalSystemCS:DT_SERV_CS_MSISDN"/>
						<element name="DT_SERV_CS_ID_PLAN_C" type="externalSystemCS:DT_SERV_CS_ID_PLAN_C"/>
						<element name="DT_SERV_CS_ORDER_ID" type="externalSystemCS:DT_SERV_CS_ORDER_ID"/>
						<element name="DT_SERV_CS_ID_SERVICIO_ESTADO" type="externalSystemCS:DT_SERV_CS_ID_SERVICIO_ESTADO"/>
						<element name="DT_SERV_CS_FECHA_ACTIVACION" type="externalSystemCS:DT_SERV_CS_FECHA_ACTIVACION"/>
						<element name="DT_SERV_CS_FECHA_ACTUALIZACION" type="externalSystemCS:DT_SERV_CS_FECHA_ACTUALIZACION"/>
					</sequence>
				</complexType>

			<complexType name="DOC_PLAN_SERVICIO_CS">
				<annotation>
					<documentation>DOC_PLAN_SERVICIO_CS</documentation>
				</annotation>
					<sequence>
						<element name="DT_SERV_CS_ID_PLAN_N" type="externalSystemCS:DT_SERV_CS_ID_PLAN_N"/>
						<element name="DT_SERV_CS_ID_PLAN_C" type="externalSystemCS:DT_SERV_CS_ID_PLAN_C"/>
						<element name="DT_SERV_CS_DESC_PLAN" type="externalSystemCS:DT_SERV_CS_DESC_PLAN"/>
						<element name="DT_SERV_CS_SALDO_INICIAL" type="externalSystemCS:DT_SERV_CS_SALDO_INICIAL"/>
					</sequence>
				</complexType>

			<complexType name="DOC_SALDOS_SERVICIO_GET_CS">
				<annotation>
					<documentation>DOC_SALDOS_SERVICIO_GET_CS</documentation>
				</annotation>
					<sequence>
						<element name="ID_SERVICIO_SERVICO_CS" type="externalSystemCS:DT_SERV_CS_ID_SERVICIO_N"/>
						<element name="SALDO_INICIAL_SERVICIO_CS" type="externalSystemCS:DT_SERV_CS_SALDO_INICIAL"/>
						<element name="SALDO_ACTUAL_SERVICIO_CS" type="externalSystemCS:DT_SERV_CS_SALDO_ACTUAL"/>
						<element name="FECHA_ULTIMO_SALDO_SERVICIO_CS" type="externalSystemCS:DT_SERV_CS_FECHA_ULTIMO_SALDO"/>
					</sequence>
				</complexType>

		</schema>
	</types>

	<message name="input_provServicioCS">
		<part name="input_provServicioCS" type="externalSystemCS:input_provServicioCS"/>
	</message>

	<message name="output_provServicioCS">
		<part name="output_provServicioCS" type="externalSystemCS:output_provServicioCS"/>
	</message>

	<message name="input_desprovServicioCS">
		<part name="input_desprovServicioCS" type="externalSystemCS:input_desprovServicioCS"/>
	</message>

	<message name="output_desprovServicioCS">
		<part name="output_desprovServicioCS" type="externalSystemCS:output_desprovServicioCS"/>
	</message>

	<portType name="interface_serviciosCS">
		<operation name="provServicioCS">
			<input message="tns:input_provServicioCS"/>
			<output message="tns:output_provServicioCS"/>
		</operation>
		<operation name="desprovServicioCS">
			<input message="tns:input_desprovServicioCS"/>
			<output message="tns:output_desprovServicioCS"/>
		</operation>
	</portType>

	<binding name="bind_provServicioCS_SOAP" type="tns:interface_serviciosCS">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="provServicioCS">
			<soap:operation soapAction="provServicioCS"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="desprovServicioCS">
			<soap:operation soapAction="desprovServicioCS"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>

	<service name="xs_serviciosCS">
		<port name="port_serviciosCS_SOAP" binding="tns:bind_provServicioCS_SOAP">
		</port>
	</service>

</definitions>