WSDLs/externalSystemEMA.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<definitions name="externalSystemEMA" targetNamespace="http://www.readinessit.com/namespaces/proyectoEMA/externalSystemEMA"
	xmlns:tns="http://www.readinessit.com/namespaces/proyectoEMA/externalSystemEMA"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:externalSystemEMA="http://www.readinessit.com/namespaces/proyectoEMA/externalSystemEMA">

	<types>
		<schema targetNamespace="http://www.readinessit.com/namespaces/proyectoEMA/externalSystemEMA"			
	xmlns="http://www.w3.org/2001/XMLSchema"			
	xmlns:externalSystemEMA="http://www.readinessit.com/namespaces/proyectoEMA/externalSystemEMA"			
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">



			<annotation>
				<documentation>External System EMA</documentation>
				<appinfo>
					<metadata>AVM Metadata EMA</metadata>
					<created>Wed Feb 22 13:53:02 CLT 2017</created>
				</appinfo>
			</annotation>

			<!-- Data types and elements -->

			<simpleType name="ID_PROFILE_SERVICIO_EMA">
				<annotation>
					<documentation>ID_PROFILE_SERVICIO_EMA</documentation>
				</annotation>
				<restriction base="xsd:decimal">
					<totalDigits value="5"/>
				</restriction>
			</simpleType>

			<simpleType name="DESC_PROF_DETALLE_SERVICIO_EMA">
				<annotation>
					<documentation>DESC_PROF_DETALLE_SERVICIO_EMA</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength value="30"/>
				</restriction>
			</simpleType>

			<simpleType name="ID_NODO_SERVICIO_EMA">
				<annotation>
					<documentation>ID_NODO_SERVICIO_EMA</documentation>
				</annotation>
				<restriction base="xsd:decimal">
					<totalDigits value="5"/>
				</restriction>
			</simpleType>

			<simpleType name="MSISDN_SERVICIO_EMA">
				<annotation>
					<documentation>MSISDN_SERVICIO_EMA</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength value="15"/>
				</restriction>
			</simpleType>

			<simpleType name="ID_ESTADO_SERVICIO_EMA">
				<annotation>
					<documentation>ID_ESTADO_SERVICIO_EMA</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength value="1"/>
				</restriction>
			</simpleType>

			<simpleType name="FECHA_ACTIVACION_SERVICIO_EMA">
				<annotation>
					<documentation>FECHA_ACTIVACION_SERVICIO_EMA</documentation>
				</annotation>
				<restriction base="xsd:dateTime">
				</restriction>
			</simpleType>

			<simpleType name="ORDER_ID_SERVICIO_EMA">
				<annotation>
					<documentation>ORDER_ID_SERVICIO_EMA</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength value="16"/>
				</restriction>
			</simpleType>

			<simpleType name="DESC_PROFILE_SERVICIO_EMA">
				<annotation>
					<documentation>DESC_PROFILE_SERVICIO_EMA</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength value="30"/>
				</restriction>
			</simpleType>

			<!-- Structures -->

			<complexType name="input_desprovServicioEMA">
				<annotation>
					<documentation>input_desprovServicioEMA</documentation>
				</annotation>
					<sequence>
						<element name="msisdn" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="orderid" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>

			<complexType name="output_desprovServicioEMA">
				<annotation>
					<documentation>output_desprovServicioEMA</documentation>
				</annotation>
					<sequence>
						<element name="estado" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="mensaje" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>

			<complexType name="input_provServicioEMA">
				<annotation>
					<documentation>input_provServicioEMA</documentation>
				</annotation>
					<sequence>
						<element name="orderid" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="msisdn" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="id_profile" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>

			<complexType name="output_provServicioEMA">
				<annotation>
					<documentation>output_provServicioEMA</documentation>
				</annotation>
					<sequence>
						<element name="estado" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="mensaje" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>

			<!-- Documents -->

			<complexType name="DOC_SERVICIO_NOD_ACT_GET_EMA">
				<annotation>
					<documentation>DOC_SERVICIO_NOD_ACT_GET_EMA</documentation>
				</annotation>
					<sequence>
						<element name="ID_NODO_SERVICIO_EMA" type="externalSystemEMA:ID_NODO_SERVICIO_EMA"/>
						<element name="MSISDN_SERVICIO_EMA" type="externalSystemEMA:MSISDN_SERVICIO_EMA"/>
						<element name="FECHA_ACTIVACION_SERVICIO_EMA" type="externalSystemEMA:FECHA_ACTIVACION_SERVICIO_EMA"/>
					</sequence>
				</complexType>

			<complexType name="DOC_PROFILE_DETALLE_GET_EMA">
				<annotation>
					<documentation>DOC_PROFILE_DETALLE_GET_EMA</documentation>
				</annotation>
					<sequence>
						<element name="ID_NODO_SERVICIO_EMA" type="externalSystemEMA:ID_NODO_SERVICIO_EMA"/>
						<element name="ID_PROFILE_SERVICIO_EMA" type="externalSystemEMA:ID_PROFILE_SERVICIO_EMA"/>
						<element name="DESC_PROF_DETALLE_SERVICIO_EMA" type="externalSystemEMA:DESC_PROF_DETALLE_SERVICIO_EMA"/>
					</sequence>
				</complexType>

			<complexType name="DOC_PROFILE_GET_EMA">
				<annotation>
					<documentation>DOC_PROFILE_GET_EMA</documentation>
				</annotation>
					<sequence>
						<element name="ID_PROFILE_SERVICIO_EMA" type="externalSystemEMA:ID_PROFILE_SERVICIO_EMA"/>
						<element name="DESC_PROFILE_SERVICIO_EMA" type="externalSystemEMA:DESC_PROFILE_SERVICIO_EMA"/>
					</sequence>
				</complexType>

			<complexType name="DOC_SERVICIO_GET_EMA">
				<annotation>
					<documentation>DOC_SERVICIO_GET_EMA</documentation>
				</annotation>
					<sequence>
						<element name="MSISDN_SERVICIO_EMA" type="externalSystemEMA:MSISDN_SERVICIO_EMA"/>
						<element name="ID_PROFILE_SERVICIO_EMA" type="externalSystemEMA:ID_PROFILE_SERVICIO_EMA"/>
						<element name="ID_ESTADO_SERVICIO_EMA" type="externalSystemEMA:ID_ESTADO_SERVICIO_EMA"/>
						<element name="FECHA_ACTIVACION_SERVICIO_EMA" type="externalSystemEMA:FECHA_ACTIVACION_SERVICIO_EMA"/>
						<element name="ORDER_ID_SERVICIO_EMA" type="externalSystemEMA:ORDER_ID_SERVICIO_EMA"/>
					</sequence>
				</complexType>

		</schema>
	</types>

	<message name="input_provServicioEMA">
		<part name="input_provServicioEMA" type="externalSystemEMA:input_provServicioEMA"/>
	</message>

	<message name="output_provServicioEMA">
		<part name="output_provServicioEMA" type="externalSystemEMA:output_provServicioEMA"/>
	</message>

	<message name="input_desprovServicioEMA">
		<part name="input_desprovServicioEMA" type="externalSystemEMA:input_desprovServicioEMA"/>
	</message>

	<message name="output_desprovServicioEMA">
		<part name="output_desprovServicioEMA" type="externalSystemEMA:output_desprovServicioEMA"/>
	</message>

	<portType name="interface_serviciosEMA">
		<operation name="provServicioEMA">
			<input message="tns:input_provServicioEMA"/>
			<output message="tns:output_provServicioEMA"/>
		</operation>
		<operation name="desprovServicioEMA">
			<input message="tns:input_desprovServicioEMA"/>
			<output message="tns:output_desprovServicioEMA"/>
		</operation>
	</portType>

	<binding name="bind_provServicioEMA_SOAP" type="tns:interface_serviciosEMA">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="provServicioEMA">
			<soap:operation soapAction="provServicioEMA"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="desprovServicioEMA">
			<soap:operation soapAction="desprovServicioEMA"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>

	<service name="xs_serviciosEMA">
		<port name="port_serviciosEMA_SOAP" binding="tns:bind_provServicioEMA_SOAP">
		</port>
	</service>

</definitions>