Proyecto_Grupo3/Procesos/OM/resources/schema/cw.gen.Crea_Cli_BSCS.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<definitions name="bscsProy" targetNamespace="bscsProy"
	xmlns:tns="bscsProy"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:bscsProy="bscsProy">

	<types>
		<schema targetNamespace="bscsProy"			
	xmlns="http://www.w3.org/2001/XMLSchema"			
	xmlns:bscsProy="bscsProy"			
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">



			<annotation>
				<documentation>bscsProy</documentation>
				<appinfo>
					<metadata>OM</metadata>
					<created>Mon Feb 27 16:29:39 CLT 2017</created>
				</appinfo>
			</annotation>

			<!-- Data types and elements -->

			<simpleType name="DESC">
				<annotation>
					<documentation>Descripcion</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength value="32"/>
				</restriction>
			</simpleType>

			<simpleType name="ESTADO">
				<annotation>
					<documentation>ESTADO</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength value="32"/>
				</restriction>
			</simpleType>

			<simpleType name="ID_CLIENTE">
				<annotation>
					<documentation>ID_CLIENTE</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength value="16"/>
				</restriction>
			</simpleType>

			<simpleType name="IMSI">
				<annotation>
					<documentation>IMSI</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength value="15"/>
				</restriction>
			</simpleType>

			<simpleType name="MSISDN">
				<annotation>
					<documentation>MSISDN</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength value="15"/>
				</restriction>
			</simpleType>

			<simpleType name="PLAN_BSCS">
				<annotation>
					<documentation>PLAN_BSCS</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength value="32"/>
				</restriction>
			</simpleType>

			<simpleType name="saldo">
				<annotation>
					<documentation>Saldo</documentation>
				</annotation>
				<restriction base="xsd:integer">
					<totalDigits value="10"/>
				</restriction>
			</simpleType>

			<!-- Structures -->

			<complexType name="Req_Crea_Cli_BSCS">
				<annotation>
					<documentation>Req_Crea_Cli_BSCS</documentation>
				</annotation>
					<sequence>
						<element name="ID_CLIENTE" minOccurs="0" maxOccurs="1" type="bscsProy:ID_CLIENTE"/>
						<element name="PLAN_BSCS" minOccurs="0" maxOccurs="1" type="bscsProy:PLAN_BSCS"/>
						<element name="saldo" minOccurs="0" maxOccurs="1" type="bscsProy:saldo"/>
					</sequence>
				</complexType>

			<complexType name="Resonse_Crea_Cli_BSCS">
				<annotation>
					<documentation>Resonse_Crea_Cli_BSCS</documentation>
				</annotation>
					<sequence>
						<element name="ESTADO" minOccurs="0" maxOccurs="1" type="bscsProy:ESTADO"/>
						<element name="IMSI" minOccurs="0" maxOccurs="1" type="bscsProy:IMSI"/>
						<element name="MSISDN" minOccurs="0" maxOccurs="1" type="bscsProy:MSISDN"/>
						<element name="DESC" minOccurs="0" maxOccurs="1" type="bscsProy:DESC"/>
					</sequence>
				</complexType>

			<!-- Documents -->

		</schema>
	</types>

	<message name="Req_Crea_Cli_BSCS">
		<part name="Req_Crea_Cli_BSCS" type="bscsProy:Req_Crea_Cli_BSCS"/>
	</message>

	<message name="Resonse_Crea_Cli_BSCS">
		<part name="Resonse_Crea_Cli_BSCS" type="bscsProy:Resonse_Crea_Cli_BSCS"/>
	</message>

	<portType name="Crea_Cli_BSCS">
		<operation name="Crea_cli_bscs">
			<input message="tns:Req_Crea_Cli_BSCS"/>
			<output message="tns:Resonse_Crea_Cli_BSCS"/>
		</operation>
	</portType>

	<binding name="Crea_Cli_BSCS_Soap" type="tns:Crea_Cli_BSCS">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="Crea_cli_bscs">
			<soap:operation soapAction="Crea_cli_bscs"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>

	<service name="ExtService_Crea_Cli_BSCS">
		<port name="ExtCrea_Cli_BSCS_SOAP_PORT" binding="tns:Crea_Cli_BSCS_Soap">
		</port>
	</service>

</definitions>