ProyectoIntegrado/resources/schema/cw.gen.interface_serviciosBSCS.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<definitions name="externalSystemBSCS" targetNamespace="http://www.readinessit.com/namespaces/proyectoBSCS/externalSystemBSCS"
	xmlns:tns="http://www.readinessit.com/namespaces/proyectoBSCS/externalSystemBSCS"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:externalSystemBSCS="http://www.readinessit.com/namespaces/proyectoBSCS/externalSystemBSCS">

	<types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://www.readinessit.com/namespaces/proyectoBSCS/externalSystemBSCS" schemaLocation="externalSystemBSCS.xsd"/>
		</schema>
	</types>

	<message name="input_getMsisdnReserveBSCS">
		<part name="input_getMsisdnReserveBSCS" type="externalSystemBSCS:input_getMsisdnReserveBSCS"/>
	</message>

	<message name="output_getMsisdnReserveBSCS">
		<part name="output_getMsisdnReserveBSCS" type="externalSystemBSCS:output_getMsisdnReserveBSCS"/>
	</message>

	<message name="input_provServicioBSCS">
		<part name="input_provServicioBSCS" type="externalSystemBSCS:input_provServicioBSCS"/>
	</message>

	<message name="output_provServicioBSCS">
		<part name="output_provServicioBSCS" type="externalSystemBSCS:output_provServicioBSCS"/>
	</message>

	<message name="input_desprovServicioBSCS">
		<part name="input_desprovServicioBSCS" type="externalSystemBSCS:input_desprovServicioBSCS"/>
	</message>

	<message name="output_desprovServicioBSCS">
		<part name="output_desprovServicioBSCS" type="externalSystemBSCS:output_desprovServicioBSCS"/>
	</message>

	<message name="input_getMsisdnLiberarBSCS">
		<part name="input_getMsisdnLiberarBSCS" type="externalSystemBSCS:input_getMsisdnLiberarBSCS"/>
	</message>

	<message name="output_getMsisdnLiberarBSCS">
		<part name="output_getMsisdnLiberarBSCS" type="externalSystemBSCS:output_getMsisdnLiberarBSCS"/>
	</message>

	<portType name="interface_serviciosBSCS">
		<operation name="getMsisdnReserveBSCS">
			<input message="tns:input_getMsisdnReserveBSCS"/>
			<output message="tns:output_getMsisdnReserveBSCS"/>
		</operation>
		<operation name="provServicioBSCS">
			<input message="tns:input_provServicioBSCS"/>
			<output message="tns:output_provServicioBSCS"/>
		</operation>
		<operation name="desprovServicioBSCS">
			<input message="tns:input_desprovServicioBSCS"/>
			<output message="tns:output_desprovServicioBSCS"/>
		</operation>
		<operation name="getMsisdnLiberarBSCS">
			<input message="tns:input_getMsisdnLiberarBSCS"/>
			<output message="tns:output_getMsisdnLiberarBSCS"/>
		</operation>
	</portType>

	<binding name="bind_ServicioBSCS_SOAP" type="tns:interface_serviciosBSCS">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="getMsisdnReserveBSCS">
			<soap:operation soapAction="getMsisdnReserveBSCS"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="provServicioBSCS">
			<soap:operation soapAction="provServicioBSCS"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="desprovServicioBSCS">
			<soap:operation soapAction="desprovServicioBSCS"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="getMsisdnLiberarBSCS">
			<soap:operation soapAction="getMsisdnLiberarBSCS"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>

	<service name="xs_serviciosBSCS">
		<port name="port_serviciosBSCS_SOAP" binding="tns:bind_ServicioBSCS_SOAP">
			<soap:address location="http://localhost:8080/cwf/services/interface_serviciosBSCS"/>
		</port>
	</service>

</definitions>