Proyecto_Grupo3/Order Manager/OM/resources/schema/cw.gen.Submit_Order_OE.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<definitions name="oeInterface" targetNamespace="oeInterface"
	xmlns:tns="oeInterface"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:oeInterface="oeInterface">

	<types>
		<schema targetNamespace="oeInterface"			
	xmlns="http://www.w3.org/2001/XMLSchema"			
	xmlns:oeInterface="oeInterface"			
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">



			<annotation>
				<documentation>OE Interface</documentation>
				<appinfo>
					<metadata>AVM Metadata</metadata>
					<created>Mon Feb 27 16:29:39 CLT 2017</created>
				</appinfo>
			</annotation>

			<!-- Data types and elements -->

			<simpleType name="ID_CLIENTE">
				<annotation>
					<documentation>ID_CLIENTE</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength value="16"/>
				</restriction>
			</simpleType>

			<simpleType name="ID_PO">
				<annotation>
					<documentation>ID_PO</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength value="16"/>
				</restriction>
			</simpleType>

			<simpleType name="Codigo">
				<annotation>
					<documentation>Codigo</documentation>
				</annotation>
				<restriction base="xsd:integer">
				</restriction>
			</simpleType>

			<simpleType name="MSISDN">
				<annotation>
					<documentation>MSISDN</documentation>
				</annotation>
				<restriction base="xsd:integer">
					<totalDigits value="15"/>
				</restriction>
			</simpleType>

			<simpleType name="ESTADO">
				<annotation>
					<documentation>ESTADO</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength value="32"/>
				</restriction>
			</simpleType>

			<simpleType name="IMSI">
				<annotation>
					<documentation>IMSI</documentation>
				</annotation>
				<restriction base="xsd:integer">
					<totalDigits value="15"/>
				</restriction>
			</simpleType>

			<simpleType name="ID_Order">
				<annotation>
					<documentation>ID_Order</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength value="32"/>
				</restriction>
			</simpleType>

			<!-- Structures -->

			<complexType name="Response">
				<annotation>
					<documentation>Response</documentation>
				</annotation>
					<sequence>
						<element name="Ack" minOccurs="0" maxOccurs="1" type="oeInterface:Codigo"/>
					</sequence>
				</complexType>

			<complexType name="Request">
				<annotation>
					<documentation>Request</documentation>
				</annotation>
					<sequence>
						<element name="ID_Cliente" minOccurs="0" maxOccurs="1" type="oeInterface:ID_CLIENTE"/>
						<element name="ID_Order" minOccurs="0" maxOccurs="1" type="oeInterface:ID_Order"/>
						<element name="ID_PO" minOccurs="0" maxOccurs="1" type="oeInterface:ID_PO"/>
					</sequence>
				</complexType>

			<complexType name="RequestSendOE">
				<annotation>
					<documentation>RequestSendOE</documentation>
				</annotation>
					<sequence>
						<element name="MSISDN" minOccurs="0" maxOccurs="1" type="oeInterface:MSISDN"/>
						<element name="IMSI" minOccurs="0" maxOccurs="1" type="oeInterface:IMSI"/>
						<element name="ESTADO" minOccurs="0" maxOccurs="1" type="oeInterface:ESTADO"/>
					</sequence>
				</complexType>

			<!-- Documents -->

		</schema>
	</types>

	<message name="Request">
		<part name="Request" type="oeInterface:Request"/>
	</message>

	<message name="Response">
		<part name="Response" type="oeInterface:Response"/>
	</message>

	<message name="RequestSendOE">
		<part name="RequestSendOE" type="oeInterface:RequestSendOE"/>
	</message>

	<portType name="Submit_Order_OE">
		<operation name="SubmitOrderOE">
			<input message="tns:Request"/>
			<output message="tns:Response"/>
		</operation>
		<operation name="SubmitResponseOE">
			<input message="tns:RequestSendOE"/>
			<output message="tns:Response"/>
		</operation>
	</portType>

	<binding name="bindingSOAPOE" type="tns:Submit_Order_OE">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="SubmitOrderOE">
			<soap:operation soapAction="SubmitOrderOE"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
		<operation name="SubmitResponseOE">
			<soap:operation soapAction="SubmitResponseOE"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>

	<service name="ExtServiceOEPort">
		<port name="ExtServicePortSOAP_OE" binding="tns:bindingSOAPOE">
		</port>
	</service>

</definitions>