Proyecto_Grupo3/Procesos/Order Entry/Resources/schema/cw.gen.Crea_CLI_HLR.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<definitions name="EMA" targetNamespace="EMA"
	xmlns:tns="EMA"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:EMA="EMA">

	<types>
		<schema targetNamespace="EMA"			
	xmlns="http://www.w3.org/2001/XMLSchema"			
	xmlns:EMA="EMA"			
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">



			<annotation>
				<documentation>EMA</documentation>
				<appinfo>
					<metadata>TRAINING METADATA</metadata>
					<created>Tue Feb 28 17:26:00 CLT 2017</created>
				</appinfo>
			</annotation>

			<!-- Data types and elements -->

			<simpleType name="IMSI">
				<annotation>
					<documentation>IMSI</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength value="15"/>
				</restriction>
			</simpleType>

			<simpleType name="MSISDN">
				<annotation>
					<documentation>MSISDN</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength value="15"/>
				</restriction>
			</simpleType>

			<simpleType name="PROFILE">
				<annotation>
					<documentation>PROFILE</documentation>
				</annotation>
				<restriction base="xsd:string">
					<maxLength value="32"/>
				</restriction>
			</simpleType>

			<!-- Structures -->

			<complexType name="EMArequest">
				<annotation>
					<documentation>EMArequest</documentation>
				</annotation>
					<sequence>
						<element name="IMSI" minOccurs="0" maxOccurs="1" type="EMA:IMSI"/>
						<element name="MSISDN" minOccurs="0" maxOccurs="1" type="EMA:MSISDN"/>
						<element name="PROFILE" minOccurs="0" maxOccurs="1" type="EMA:PROFILE"/>
					</sequence>
				</complexType>

			<complexType name="responseEMA">
				<annotation>
					<documentation>responseEMA</documentation>
				</annotation>
					<sequence>
						<element name="mensaje" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="estado" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>

			<!-- Documents -->

		</schema>
	</types>

	<message name="EMArequest">
		<part name="EMArequest" type="EMA:EMArequest"/>
	</message>

	<message name="responseEMA">
		<part name="responseEMA" type="EMA:responseEMA"/>
	</message>

	<portType name="Crea_CLI_HLR">
		<operation name="creacionClienteHLR">
			<input message="tns:EMArequest"/>
			<output message="tns:responseEMA"/>
		</operation>
	</portType>

	<binding name="bindingSOAPRequestEMA" type="tns:Crea_CLI_HLR">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="creacionClienteHLR">
			<soap:operation soapAction="creacionClienteHLR"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>

	<service name="requestEMA">
		<port name="EMASOAPPort" binding="tns:bindingSOAPRequestEMA">
		</port>
	</service>

</definitions>