OrderManager/resources/schema/bind_getMsisdnBSCS_SOAP.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<definitions name="ExternalSystemSimulator" targetNamespace="ExternalSystemSimulator"
	xmlns:tns="ExternalSystemSimulator"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	xmlns:ExternalSystemSimulator="ExternalSystemSimulator">

	<types>
		<schema targetNamespace="ExternalSystemSimulator"			
	xmlns="http://www.w3.org/2001/XMLSchema"			
	xmlns:ExternalSystemSimulator="ExternalSystemSimulator"			
	xmlns:xsd="http://www.w3.org/2001/XMLSchema">



			<annotation>
				<documentation>External System Simulator</documentation>
				<appinfo>
					<metadata>AVM Metadata</metadata>
					<created>Wed Feb 22 13:53:02 CLT 2017</created>
				</appinfo>
			</annotation>

			<!-- Data types and elements -->

			<!-- Structures -->

			<complexType name="getCreditApprovalNumberResponse">
				<annotation>
					<documentation>getCreditApprovalNumberResponse</documentation>
				</annotation>
					<sequence>
						<element name="destiny" minOccurs="0" maxOccurs="1">
							<annotation>
								<documentation>destiny</documentation>
							</annotation>
							<complexType>
								<sequence>
									<element name="destinyProcess" minOccurs="0" maxOccurs="1" type="xsd:string"/>
									<element name="destinyOrder" minOccurs="0" maxOccurs="1" type="xsd:string"/>
								</sequence>
							</complexType>
						</element>
						<element name="creditApprovalNumber" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>

			<complexType name="input_getMsisdnReserveBSCS">
				<annotation>
					<documentation>input_getMsisdnReserveBSCS</documentation>
				</annotation>
					<sequence>
						<element name="orderid" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="rut" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>

			<complexType name="output_getMsisdnReserveBSCS">
				<annotation>
					<documentation>output_getMsisdnReserveBSCS</documentation>
				</annotation>
					<sequence>
						<element name="estado" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="mensaje" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="msisdn" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>

			<complexType name="getCreditApprovalNumberRequest">
				<annotation>
					<documentation>getCreditApprovalNumberRequest</documentation>
				</annotation>
					<sequence>
						<element name="origin" minOccurs="0" maxOccurs="1">
							<annotation>
								<documentation>origin</documentation>
							</annotation>
							<complexType>
								<sequence>
									<element name="originProcess" minOccurs="0" maxOccurs="1" type="xsd:string"/>
									<element name="originOrder" minOccurs="0" maxOccurs="1" type="xsd:string"/>
								</sequence>
							</complexType>
						</element>
						<element name="creditApprovalNumberOld" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>

			<complexType name="ack">
				<annotation>
					<documentation>ack</documentation>
				</annotation>
					<sequence>
						<element name="code" minOccurs="0" maxOccurs="1" type="xsd:string"/>
						<element name="description" minOccurs="0" maxOccurs="1" type="xsd:string"/>
					</sequence>
				</complexType>

			<!-- Documents -->

			<complexType name="procDoc">
				<annotation>
					<documentation>Proc Doc</documentation>
				</annotation>
					<sequence>
						<element name="originProcess" type="xsd:string"/>
						<element name="originOrder" type="xsd:string"/>
						<element name="creditApprovalNumber" type="xsd:string"/>
					</sequence>
				</complexType>

		</schema>
	</types>

	<message name="input_getMsisdnReserveBSCS">
		<part name="input_getMsisdnReserveBSCS" type="ExternalSystemSimulator:input_getMsisdnReserveBSCS"/>
	</message>

	<message name="output_getMsisdnReserveBSCS">
		<part name="output_getMsisdnReserveBSCS" type="ExternalSystemSimulator:output_getMsisdnReserveBSCS"/>
	</message>

	<portType name="interface_serviciosBSCS">
		<operation name="getMsisdnReserveBSCS">
			<input message="tns:input_getMsisdnReserveBSCS"/>
			<output message="tns:output_getMsisdnReserveBSCS"/>
		</operation>
	</portType>

	<binding name="bind_getMsisdnBSCS_SOAP" type="tns:interface_serviciosBSCS">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="getMsisdnReserveBSCS">
			<soap:operation soapAction="getMsisdnReserveBSCS"/>
			<input>
				<soap:body use="literal"/>
			</input>
			<output>
				<soap:body use="literal"/>
			</output>
		</operation>
	</binding>

	<service name="xs_serviciosBSCS">
		<port name="port_serviciosBSCS_SOAP" binding="tns:bind_getMsisdnBSCS_SOAP">
		</port>
	</service>

</definitions>